@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*font-family: 'Jura', sans-serif;
font-family: 'Lexend', sans-serif;*/

body{
    position: relative;
    height: 1440px;
    background-repeat: no-repeat;
    color: #1C6119;
}
.nav{
    margin-top: 65px;
    /*background-color: blue;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 200px;
    /*background-color: blueviolet;*/
    width: 400px;
    font-size: 90px;
    font-family: 'Jura', sans-serif;
}
#logo-nav{
    width: 75px;
    height: 75px;
}
.botoes{
    margin-right: 200px;
    /*background-color: crimson;*/
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
}
button{
    background: transparent;
    border: transparent;
    font-family: 'Lexend', sans-serif;
    color: #1C6119;
    font-size:55%;
}