@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*font-family: 'Jura', sans-serif;
font-family: 'Lexend', sans-serif;*/

/*padrao do site*/
body{
    position: relative;
    height: 1040px;
    width: 100%;
    background-repeat: no-repeat;
    color: #1C6119;
    overflow-x:hidden;
}
.nav{
    margin-top: 65px;
    /*background-color: blue;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 200px;
    /*background-color: blueviolet;*/
    width: 400px;
    font-size: 90px;
    font-family: 'Jura', sans-serif;
}
#logo-nav{
    width: 75px;
    height: 75px;
}
button{
    cursor: pointer;
}
.botoes{
    margin-right: 200px;
    /*background-color: crimson;*/
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
}
button{
    background: transparent;
    border: transparent;
    font-family: 'Lexend', sans-serif;
    color: #1C6119;
    font-size:55%;
}
button a {
    color: #1C6119;
    text-decoration: none;
}
a {
    color: #1C6119;
    text-decoration: none;
}
/*padrao do site*/

/*slider*/
div .swiper{
    display: inline-block;
}
.swiper {
    width: 1180px;
    height: 650px;
    margin-top: 100px;
    background-color: #D2ECB3;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(28, 97, 25, 0.5);
   
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

.left{
    text-align: left;
    left: 13.92%;
    right: 61.86%;
    top: 28%;
    bottom: 18.46%;
    margin-left: 80px;

    font-family: 'Lexend';
    font-style:normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;

    color: #1C6119;
}
.right{
    text-align: right;
}
.cell-not{
    margin-top: -410px;
    margin-left: 30px;

}

h3{
    font-family: 'Jura';
}
h1{
    font-family: 'Lexend';
}
/*slider*/