@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*font-family: 'Jura', sans-serif;
font-family: 'Lexend', sans-serif;*/

/*padrao do site*/
body{
    position: relative;
    height: 1040px;
    width: 100%;
    background-repeat: no-repeat;
    color: #1C6119;
    overflow-x:hidden;
}
.nav{
    margin-top: 65px;
    /*background-color: blue;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 200px;
    /*background-color: blueviolet;*/
    width: 400px;
    font-size: 90px;
    font-family: 'Jura', sans-serif;
}
#logo-nav{
    width: 75px;
    height: 75px;
}
button{
    cursor: pointer;
}
.botoes{
    margin-right: 200px;
    /*background-color: crimson;*/
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
}
button{
    background: transparent;
    border: transparent;
    font-family: 'Lexend', sans-serif;
    color: #1C6119;
    font-size:55%;
}
button a {
    color: #1C6119;
    text-decoration: none;
}
a {
    color: #1C6119;
    text-decoration: none;
}
/*padrao do site*/

.swiper {
    width: 1180px;
    height: 650px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:transparent;
    
  }

  .swiper-slide img {
    display: flex;
    width: 100%;
    height:100%;
  }

  .swiper {
      margin-top: 100px;
  }

  .swiper-pagination{
  }