@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*font-family: 'Jura', sans-serif;
font-family: 'Lexend', sans-serif;*/

/*padrao do site*/
body{
    position: relative;
    width: 98%;
    height: 1024;
    background-repeat: no-repeat;
    color: #1C6119;
}

.nav{
    margin-top: 65px;
    /*background-color: blue;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 200px;
    /*background-color: blueviolet;*/
    width: 400px;
    font-size: 90px;
    font-family: 'Jura', sans-serif;
}
#logo-nav{
    width: 75px;
    height: 75px;
}
.botoes{
    margin-right: 200px;
    /*background-color: crimson;*/
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
}
button{
    background: transparent;
    border: transparent;
    font-family: 'Lexend', sans-serif;
    color: #1C6119;
    font-size:55%;
}
button a {
    color: #1C6119;
    text-decoration: none;
}
a {
    color: #1C6119;
    text-decoration: none;
}
/*padrao do site*/

/*parte dos textos*/
main{
    margin-left: 100px;
    position: absolute;
    width: 486px;
    height: 234px;
    left: 100px;
    top: 380px;
}
.titulo{
    margin-bottom: 20px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 97px;
    color: #1C6119;
}
.subtitulo{

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;

    color: #1C6119;

}
/*parte dos textos*/