@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*font-family: 'Jura', sans-serif;
font-family: 'Lexend', sans-serif;*/

/*padrao do site*/
*{
    box-sizing: border-box;
}
body{
    position: relative;
    width: 98%;
    height: 1024;
    background-repeat: no-repeat;
    color: #1C6119;
}

.nav{
    margin-top: 65px;
    /*background-color: blue;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 200px;
    /*background-color: blueviolet;*/
    width: 400px;
    font-size: 90px;
    font-family: 'Jura', sans-serif;
}
#logo-nav{
    width: 75px;
    height: 75px;
}
button{
    cursor: pointer;
}
.botoes{
    margin-right: 200px;
    /*background-color: crimson;*/
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
}
button{
    background: transparent;
    border: transparent;
    font-family: 'Lexend', sans-serif;
    color: #1C6119;
    font-size:55%;
}
button a {
    color: #1C6119;
    text-decoration: none;
}
a {
    color: #1C6119;
    text-decoration: none;
}
/*padrao do site*/

/*parte dos textos*/
main{
    margin-left: 100px;
    position: absolute;
    width: 486px;
    height: 234px;
    left: 100px;
    top: 380px;
}
.titulo{
    margin-bottom: 20px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 97px;
    color: #1C6119;
}
.subtitulo{

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;

    color: #1C6119;

}
/*parte dos textos*/

/*cards*/
.slider-container {
    font-family: 'Lexend', sans-serif;
    max-width: 740px;
    width: 100%;
    margin-left: 1000px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}
.titulo-card{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-top: 40px;
}
.card{
    box-shadow: 0px 5px 20px rgba(28, 97, 25, 0.5);
    border-radius: 25px;
    background-color: #D2ECB3;
    width: 550px;
    height: 650px;
}
.descricao-card{
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: justify;
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 40px;
}
.slide-content{
    margin: 0 40px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
}